<div id="footer">
  Generated on <%= Time.now.strftime("%c") %> by
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a> <%= YARD::VERSION %>
  with <a href="http://bklippstein.github.com/yard_klippstein_template/index.html" 
          title="Klippstein Template for Ruby YARD" 
          target="_parent">
          yard_klippstein_template
          </a>  

</div>
